<div class="mt-3  card">
  <div class="card-header bg-warning-subtle text-warning-emphasis">
    <img src="../../../assets/icononav00.png" width="50" height="34" class="d-inline-block align-text">&nbsp;&nbsp;<span class="fw-bold">SYSTEMA CAR SUPERAUTOMATICA</span>
  </div>

  <div class="card-body bg-black">
    <div class="row text-center">
     <h1 class="text-light font-weight-bold  card-title custom-title"><i>BIENVENIDOS!!</i></h1>
     <span class="text-danger"><i> <b> --SYSTEM CAR-- Created by Nathaly Uvidia Martínez </b></i></span>
     <p class="text-light"><b>Fecha/Hora:</b> {{ fechaActual | date:'medium' }}</p>
     <img src="https://i.pinimg.com/originals/e1/7d/01/e17d012c79919bc731316be99a0506be.gif"  width="550" height="534"  alt="Descripción de la imagen" class="custom-img">
    </div>
  </div>

</div>