
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card mt-3 ">
                <div class="card-header font-weight-bold ">
                  <i class="fa-solid fa-users"></i>&nbsp;&nbsp; Registro de Clientes
                  </div>                
                <div class="card-body">
                    <section class="mx-auto my-5">
                      <div class="card card-form mt-2 mb-4 bg-dark-transparent">
                        <div class="card-body rounded-top">
                          <form class="pb-5 px-2" (ngSubmit)="commonValidate()">
                            <div class="d-flex justify-content-start align-items-center mb-4">
                              <i class="fa-solid fa-user text-dark fa-fw me-3"></i>
                              <div class="form-outline form-dark w-100">
                                <input type="text" id="nombre" class="form-control" [(ngModel)]="nombre" name="nombre" />
                                <label class="form-label text-dark font-weight-bold" for="nombre">Nombre</label>
                              </div>
                            </div>
                            <div class="d-flex justify-content-start align-items-center mb-4">
                              <i class="fa-regular fa-user fa-lg text-dark fa-fw me-3"></i>
                              <div class="form-outline form-dark w-100">
                                <input type="text" id="apellido" class="form-control" [(ngModel)]="apellido" name="apellido" />
                                <label class="form-label text-dark font-weight-bold" for="apellido">Apellido</label>
                              </div>
                            </div>
                            <div class="d-flex justify-content-start align-items-center mb-4">
                              <i class="fa-solid fa-lock fa-lg text-dark fa-fw me-3"></i>

                              <div class="form-outline form-dark w-100">
                                <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" />
                                <label class="form-label text-dark font-weight-bold" for="password">Contraseña</label>
                              </div>
                            </div>
                  
                            <div class="form-check red-checkbox my-3">
                              <input class="form-check-input ms-auto" type="checkbox"  id="flexCheckDefault1" (change)="toggleTarjeta($event)" />
                              <label class="form-check-label" for="flexCheckDefault1">
                                ¿Desea que nos contactemos?
                              </label>
                            </div>
                  
                            <div class="card card-form-2 mb-0 z-depth-0" id="tarjeta-oculta" *ngIf="mostrarTarjeta">
                              <div class="card-body">
                               
                                  <div class="d-flex justify-content-start align-items-center mb-4">
                                    <i class="far fa-envelope fa-lg text-dark fa-fw me-3"></i>
                                    <div class="form-outline form-dark w-100">
                                      <input type="text" id="email" class="form-control" [(ngModel)]="email" name="email" />
                                      <label class="form-label" for="email">E-mail</label>
                                    </div>
                                  </div>
                  
                                  <div class="d-flex justify-content-start align-items-center pb-3">
                                    <i class="fa-solid fa-phone fa-lg text-dark fa-fw me-3"></i>
                                    <div class="form-outline form-dark w-100">
                                      <input type="text" id="telefono" class="form-control" [(ngModel)]="telefono" name="telefono" />
                                      <label class="form-label" for="telefono">Teléfono</label>
                                    </div>
                                  </div>
                              </div>
                            </div>
                            <button class="btn btn-danger text-center mt-3" type="submit">Registrar Cliente</button>
                          </form>
                        </div>
                      </div>
                    </section>
                </div>
                <div class="card-footer text-body-secondary text-start">
                  &nbsp;<button type="submit" class="btn btn-warning" (click)="redirectToHome()"><i class="fa-solid fa-arrow-left"></i>&nbsp;Regresar a Inicio</button>
                </div>
            </div>

        </div>
    </div>
</div>